@font-face {
    font-family: PetitaBold;
    src: url('../images/PetitaBold.eot?') format('eot'), url('../images/PetitaBold.woff') format('woff'), url('../images/PetitaBold.ttf') format('truetype');
}

@font-face {
    font-family: PetitaLight;
    src: url('../images/PetitaLight.eot?') format('eot'), url('../images/PetitaLight.woff') format('woff'), url('../images/PetitaLight.ttf') format('truetype');
}

    body {
	margin: 0px;
	padding: 0px;
	font-family: PetitaLight;
	font-size: 14px;
    }

    .page {
	position: relative;
        width: 1024px;
	height: 668px;
        margin: 20px auto;
        background-color: #fff;
	z-index: 0;
    }


    .content {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 534px;
	z-index: 1;
    }

    .content .about {
	width: 100%;
	heigth: 100%;
	z-index: 2;
    }

    .content .about .left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 609px;
	height: 494px;
	padding: 20px 30px 20px 30px;
	z-index: 3;
	background-color: #F05F46;
	text-align: left;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #FFF;
    }

    .content .about .left p {
	font-size: 12pt;
	margin: 12px 0px;
    }

    .content .about .left .title {
	font-size: 20pt;
    }

    .content .about .right {
	position: absolute;
	background-image: url("../images/Matthew_Bowrey_7969 _HR.jpg");
	background-repeat: no-repeat;
	background-size: 355px 534px;
	background-position: center center;
	top: 0px;
	right: 0px;
	width: 355px;
	height: 534px;
 	z-index: 3;
    }

/*    #content table {
	width:100%;
    }
    
    #content td {
	width: 50%;
	vertical-align: center;
	text-align: left;
    }
    #content td#title {
	text-align: right;
    }
    
    #content input, textarea, select {
	width:75%;
	background: transparent;
    }

    #content textarea {
	height: 100px;
    }

    #content select:focus, input:focus, textarea:focus {
	outline-color: #B43F2D;
    }

    #content .center {
	text-align: center;
    }

    #content .autowidth {
	width: auto;
    }    
*/
    .menu {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 74px;
	padding: 30px 20px;
	z-index: 3;
    }

    .menu h1 {
	position: relative;
	top: 0px;
	margin: 0px auto;
	font-family: PetitaBold, Helvetica, Arial;
	font-size: 20px;
	letter-spacing: 10px;
	color: #000;
	text-align: center;
    }

    .menu hr {
	position: relative;
	top: 5px;
	width: 200px;
	height: 1px;
	background-color: black;
	border: black;
    }

    .menu .items {
	padding-top: 15px;
	width: 246px;
	display: inline-block;
	text-align: center;
	font-size:18px;
    }

    .menu .items a {
	text-decoration: none;
	transition-property: font-family;
    }

    .menu .items a:hover {
	font-family: PetitaBold;
    }
    
    .menu .items .active {
	font-family: PetitaBold;
    }


    .menu .items .red {
	color: #F05F46;
    }

    .menu .items .maroon {
	color: #B43F2D;
    }

    .menu .items .orange {
	color: #E07633;
    }

    .menu .items .yellow {
	color: #EDB04A;
    }