@font-face {
    font-family: PetitaBold;
    src: url('../images/PetitaBold.eot?') format('eot'), url('../images/PetitaBold.woff') format('woff'), url('../images/PetitaBold.ttf') format('truetype');
}

@font-face {
    font-family: PetitaLight;
    src: url('../images/PetitaLight.eot?') format('eot'), url('../images/PetitaLight.woff') format('woff'), url('../images/PetitaLight.ttf') format('truetype');
}

    body {
	margin: 0px;
	padding: 0px;
	font-family: PetitaLight;
	font-size: 16px;
    }

    #page {
/*	border: solid blue;*/
	position: relative;
        width: 750px;
	height: 550px;
        margin: 0px auto;
        background-color: #fff;
	z-index: 0;
    }
    
    #fish {
/*	border: solid red;*/
	position: absolute;
	width: 100%;
	height: 375px;
	background-image: url("../images/fish.gif");
	background-size: auto 200px;
	background-repeat: no-repeat;
	background-position: bottom center;
	z-index: 1;

    }

    #content {
/*	border: solid green;*/
	position: absolute;
	width: 100%;
	height: 375px;
 	z-index: 2;
	text-align: center;

    }
/* Title and Menu */
    #menu {
/*	border: solid purple;*/
	position: relative;
	top: 375px;
	width: 100%;
    }

    #menu h1 {
	font-family: PetitaBold, Helvetica, Arial;
	font-size: 20px;
	letter-spacing: 10px;
	color: #000;
	text-align: center;
    }

    #menu hr {
	margin-top: 23px;
	width: 200px;
	height: 2px;
	color: #000;
	background-color: #000;
    }

    #menu table {
	width: 100%;
    }

    #menu td {
	height: 105px;
	width: 25%;
	vertical-align: bottom;
	text-align: center;
	font-size: 18px;
    }

    #menu a {
	text-decoration: none;
	transition-property: font-family;
    }

    #menu #active {
	font-family: PetitaBold;
    }

    #menu a:hover {
	font-family: PetitaBold;
    }
    
    #menu a#about {
	color: #F05F46;
    }

    #menu a#testimonials {
	color: #B43F2D;
    }

    #menu a#experience {
	color: #E07633;
    }

    #menu a#contact {
	color: #EDB04A;
    }
