@font-face {
	font-family: PetitaBold;
	src: url('petitabold-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('petitabold-webfont.woff') format('woff'), 
	     url('petitabold-webfont.ttf')  format('truetype'),
	     url('petitabold-webfont.svg#svgFontName') format('svg');
	}

@font-face {
	font-family: PetitaLight;
	src: url('petitalight-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('petitalight-webfont.woff') format('woff'), 
	     url('petitalight-webfont.ttf')  format('truetype'),
	     url('petitalight-webfont.svg#svgFontName') format('svg');
	}

@font-face {
	font-family: Calibri;
	src: url('calibri.eot?#iefix') format('embedded-opentype'), 
	     url('calibri.woff') format('woff'), 
	     url('calibri.ttf')  format('truetype'),
	     url('calibri.svg#svgFontName') format('svg');
	}
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 20px;
    padding: 0px;
}

h1 {
    font-size: 20pt;
    margin: 0px;
    padding: 10px 0px;
}

#page {
    position: relative;
    width: 1024px;
    height: 668px;
    margin: 0px auto;
    background-color: #fff;
}


#content {
    height: 534px;
}

#content h1, #content p, #content label {
    color: #FFF;
    font-family: Calibri;
    left: 2%;
    position: relative;
    text-align: left;
}

#content p, #content label {
    font-size: 12pt;
    margin: 0px;
    padding: 5px 0px;
}

.fish {
    background-image: url('../images/fish.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.about {
    background-color: #F05F46;
}

.about .right {
    position: relative;
    float: right;
    width: 34%;
    height: 534px;
    background-image: url("../images/Matthew_Bowrey_7969 _HR.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.about p, .about h1 {
    width: 62% !important;
}

.testimonials {
    background-color: #B43F2D;
}

.testimonials p {
    float: left;
    padding: 30px 40px !important;
    width: 40% !important; 
}




.experience {
    background-color: #E07633;
}

.contact {
    background-color: #EDB04A;
}

.contact a {
    text-decoration: none;
    color: #FFF;
}

.contact p {
    font-size: 14pt !important;
    width: 96%;
}
/*
.contact .column {
    float: left;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 47%;
}
*/
.contact label {
    font-size: 14pt !important;
    float: left;
    left: 0% !important;
    padding: 0px;
    padding: 10px 5px 10px 0px;
}

.contact span {
    display: block;
    overflow: hidden;
    padding: 0px 5px 0px 5px;
}

.contact input, .contact select {
    color: #000;
    font-family: Calibri;
    font-size: 12pt;
    width: 100%;
}

#menu {
    position: relative;
    float: bottom;
    height: 114px;
}

#menu h1 {
    position: relative;
    width: 100%;
    font-family: PetitaBold;
    letter-spacing: 10px;
    color: #000;
    text-align: center;
}

#menu hr {
    background-color: black;
    border: black;
    height: 1px;
    margin: 0px auto;
    position: relative;
    width: 200px;
}

#menu .items {
    position: relative;
    padding-top: 15px;
    float: left;
    width: 25%;
    text-align: center;
    font-size:14pt;
    font-family: PetitaLight;
}

#menu a {
    text-decoration: none;
    transition-property: font-family;
}

#menu .items a:hover {
    font-family: PetitaBold;
}

#menu .items .active {
    font-family: PetitaBold;
}


#menu .items .red {
    color: #F05F46;
}

#menu .items .maroon {
    color: #B43F2D;
}

#menu .items .orange {
    color: #E07633;
}

#menu .items .yellow {
    color: #EDB04A;
}